* {
  box-sizing: border-box;
}

body, p {
  margin: 0;
}

a {
  text-decoration: none;
}

%outline {
  outline: 0 none !important;
}

input, button, a {
  &:hover {
    @extend %outline;
  }
  &:focus {
    @extend %outline;
  }
  &:active {
    @extend %outline;
  }
  &:visited {
    @extend %outline;
  }
}
