* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.taskManager {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.taskBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.status label i {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  width: 30px;
  height: 30px;
  font-size: 1.3em;
  border: 1px solid #e3dae7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #e3dae7;
  opacity: .8;
}

.status label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #e3dae7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: .8;
}

.status label input:checked + .statusNo, .status label input:hover + .statusNo, .status label input:focus + .statusNo, .status label input:checked + .statusMake, .status label input:hover + .statusMake, .status label input:focus + .statusMake, .status label input:checked + .statusDone, .status label input:hover + .statusDone, .status label input:focus + .statusDone {
  opacity: 1;
  -webkit-transition: color .4s, opacity .4s;
  -o-transition: color .4s, opacity .4s;
  -moz-transition: color .4s, opacity .4s;
  transition: color .4s, opacity .4s;
}

.status label input:checked + .statusNo, .status label input:hover + .statusNo, .status label input:focus + .statusNo {
  color: #d40e37;
}

.status label input:checked + .statusMake, .status label input:hover + .statusMake, .status label input:focus + .statusMake {
  color: #96d900;
}

.status label input:checked + .statusDone, .status label input:hover + .statusDone, .status label input:focus + .statusDone {
  color: #ffa100;
}

@-webkit-keyframes BoxBorder {
  0% {
    border-bottom: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  25% {
    border-left: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  50% {
    border-top: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  75% {
    border-right: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  100% {
    border: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
}

@-moz-keyframes BoxBorder {
  0% {
    border-bottom: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  25% {
    border-left: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  50% {
    border-top: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  75% {
    border-right: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  100% {
    border: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
}

@-o-keyframes BoxBorder {
  0% {
    border-bottom: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  25% {
    border-left: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  50% {
    border-top: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  75% {
    border-right: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  100% {
    border: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
}

@keyframes BoxBorder {
  0% {
    border-bottom: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  25% {
    border-left: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  50% {
    border-top: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  75% {
    border-right: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
  100% {
    border: 1px solid #e34cac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
  }
}

.status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.status label {
  -webkit-animation: BoxBorder .9s ease;
  -moz-animation: BoxBorder .9s ease;
  -o-animation: BoxBorder .9s ease;
  animation: BoxBorder .9s ease;
}

.status label input {
  display: none;
}

.textTask {
  padding-right: 5px;
  padding-left: 5px;
}

.time {
  padding-left: 5px;
  padding-right: 5px;
}
