$colorStatusNo: #d40e37;
$colorStatusMake: #96d900;
$colorStatusDone: #ffa100;

%i-propertys {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 1.3em;
  color: #e3dae7;
  opacity: .8;
}

%LabelBefore {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #e3dae7;
  border-radius: 3px;
  opacity: .8;
}

%border{
  border: 1px solid #e34cac;
  border-radius: 3px;
  opacity: 1;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(BoxBorder) {
  0% {
    border-bottom: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
    transition: border 1s ease-in .9s, opacity 10s;
  }
  25% {
    border-left: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
    transition: border 1s ease-in .9s, opacity 10s;
  }
  50% {
    border-top: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
    transition: border 1s ease-in .9s, opacity 10s;
  }
  75% {
    border-right: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
    transition: border 1s ease-in .9s, opacity 10s ;
  }
  100% {
    border: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
    transition: border 1s ease-in .9s, opacity 10s;
  }
}

@mixin checkColor($color) {
  opacity: 1;
  color: $color;
  @include animation('BoxBorder .9s ease');
  transition: color .4s, opacity .4s;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.status {

  label {
   @extend %LabelBefore;

    //input:focus   {
    //  @extend %border;
    //}
    //
    //input:active  {
    //  @extend %border;
    //}

    input:checked {
     @extend %border;
    }

    &:before {
      @extend %LabelBefore;
    }

    input {
      display: none;

      &:checked + .statusNo {
        @include checkColor($colorStatusNo);
      }

      &:hover + .statusNo {
        @include checkColor($colorStatusNo);
      }

      &:focus + .statusNo {
        @include checkColor($colorStatusNo);
      }

      &:checked + .statusMake {
        @include checkColor($colorStatusMake);
      }

      &:hover + .statusMake {
        @include checkColor($colorStatusMake);
      }

      &:focus + .statusMake {
        @include checkColor($colorStatusMake);
      }

      &:checked + .statusDone {
        @include checkColor($colorStatusDone);
      }

      &:hover + .statusDone {
        @include checkColor($colorStatusDone);
      }

      &:focus + .statusDone {
        @include checkColor($colorStatusDone);
      }

    }

    i {
      @extend %i-propertys;
    }

  }

}

