.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.status {

  label {
    display: inline-block;
    vertical-align: middle;

    input {
      display: none;
    }

    label {
      display: inline-block;
      vertical-align: middle;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      position: relative;
      left: 2px;
      right: 2px;
      top:2px;
      bottom: 2px;
      width: 25px;
      height: 25px;
      border: 1px solid hotpink;
      margin-right:10px;
      cursor: pointer;
    }

    label i:last-of-type {
      margin-right: 0;
    }

    i:before {
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      color: lightgray;
      opacity: 0;
      transition: opacity .4s;
    }

    input:checked+i:before{
       opacity: 1;
    }


  }

}




