$colorStatusNo: #d40e37;
$colorStatusMake: #96d900;
$colorStatusDone: #ffa100;
$colorDisable:  #e3dae7;
$colorBoxEnable: #e34cac;


%displayFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


%box {
  width: 30px;
  height: 30px;
  border: 1px solid $colorDisable;
  border-radius: 3px;
  opacity: .8;
}

%i-propertys {
  @extend %displayFlex;
  @extend %box;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  color:$colorDisable;
}

%Label {
  cursor: pointer;
  margin-right: 10px;
}

%border {
  border: 1px solid $colorBoxEnable;
  border-radius: 3px;
  opacity: 1;
}























%colorInput {
  opacity: 1;
  transition: color .4s, opacity .4s;
}

%coloreNo {
  @extend %colorInput;
  color: $colorStatusNo;
}

%coloreMake {
  @extend %colorInput;
  color: $colorStatusMake;
}

%coloreDone {
  @extend %colorInput;
  color: $colorStatusDone;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(BoxBorder) {
  0% {
    border-bottom: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  25% {
    border-left: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  50% {
    border-top: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  75% {
    border-right: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
  100% {
    border: 1px solid #e34cac;
    border-radius: 3px;
    opacity: 1;
  }
}

.status {
  @extend %displayFlex;

  padding-left: 5px;
  padding-right: 5px;

  label {

    @extend %Label;
    @include animation('BoxBorder .9s ease');

    input {
      display: none;

      &:checked + .statusNo {
        @extend %coloreNo;
      }

      &:hover + .statusNo {
        @extend %coloreNo;
      }

      &:focus + .statusNo {
        @extend %coloreNo;
      }

      &:checked + .statusMake {
        @extend %coloreMake;
      }

      &:hover + .statusMake {
        @extend %coloreMake;
      }

      &:focus + .statusMake {
        @extend %coloreMake;
      }

      &:checked + .statusDone {
        @extend %coloreDone;
      }

      &:hover + .statusDone {
        @extend %coloreDone;
      }

      &:focus + .statusDone {
        @extend %coloreDone;
      }

    }

    i {
      @extend %i-propertys;
    }

    &:last-of-type{
      margin-right: 0;
    }

  }

}

